<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <title>Aplicacion de CARGA de Productos</title>
  <script src="js/index.js"></script>
</head>
<body class="container">
  <div class="bg-success">
  <header class="text-center">
    <h1 class="text-primary font-weight-bold">Aplicacion de Carga de Productos</h1>
  </header>