<div class="container-fluid mt-3">
  <h1>App de Productos - Chat</h1>

  <div id="messages"></div>
  <br>

  <form class="form-inline" onsubmit="return addMessage(this)" autocomplete="off">
    <input type="text" id="username" class="form-control my-2 mr-2" placeholder="Tu Nombre">
    <input type="text" id="texto" class="form-control my-2 mr-2" placeholder="Cuéntanos algo...">
    <input class="btn btn-primary my-2" type="submit" value="Enviar!">
  </form>
</div>