<%- include('../partials/topLogin') %>


<div style="padding: 20px;">
  <!-- <form action="/api/productos" method="post"> -->
    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Login con Facebook</a>
  <br>
  <button onclick="location.href = '/register'" class="btn btn-primary">REGISTRAR USUARIO</button>
</div>

<%- include('../partials/bottom') %>