<%- include('../partials/top') %>


<div style="padding: 20px;">
  <!-- <form action="/api/productos" method="post"> -->
  <%- include('../partials/listProductsMock') %>
  <%- include('../partials/chat') %>
</div>

<%- include('../partials/bottom') %>