<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <title>Aplicacion de carga de Productos</title>
  </head>
  <body class="container">
    <div class="bg-light p-5">
      <header class="text-center">
        <h1 class="text-primary font-weight-bold">
          Aplicacion de Productos - Mi Carrito
        </h1>
      </header>
      <div class="row pt-5" id="carrito"></div>

      <div class="text-center pb-2">
        <button
          id="buttonAgregar"
          type="submit"
          onclick="generateOrder()"
          class="btn btn-primary"
        >
          Generar Orden
        </button>
        <a href="/productos">
          <button class="btn btn-primary">Volver al Listado</button>
        </a>
      </div>
    </div>
  </body>
  <script>
    async function deleteProductCart(product) {
      const getProductUrl = `/api/productos/${product}`;
      const deleteUrl = `/api/carritos`;

      const dbProduct = await fetch(getProductUrl, {
        method: "GET",
      })
        .then((res) => {
          return res.json();
        })
        .then((json) => {
          return json[0];
        });

      const response = await fetch(deleteUrl, {
        method: "DELETE",
        headers: {
          "Content-type": "application/json; charset=UTF-8", // Indicates the content
        },
        body: JSON.stringify(dbProduct),
      })
        .then((res) => {
          return res.json();
        })
        .then((json) => console.log("producto eliminado al carrito: ", json));
      window.location.reload();
    }

    async function generateOrder() {
      const generateOrderUrl = `/api/ordenes`;

      const cart = await fetch("/api/carritos/<%= useremail %>")
        .then((res) => {
          return res.json();
        })
        .then((carrito) => {
          return carrito;
        })

      const response = await fetch(generateOrderUrl, {
        method: "POST",
        headers: {
          "Content-type": "application/json; charset=UTF-8", // Indicates the content
        },
        body: JSON.stringify(cart),
      })
        .then((res) => {
          return res.json();
        })
        .then((json) => console.log("Orden generada: ", json));
      window.location.assign(`/productos`)
    }

    const dataCarrito = fetch("/api/carritos/<%= useremail %>")
      .then((res) => res.json())
      .then((carrito) => {
        render(carrito);
      })
      .catch(console.error);

    function render(data) {
      const html = data.productos
        .map((elem, index) => {
          return `<div class="col-md-4 pb-5">
        <div class="card" style="width: 15rem;">
          <img style="width: 5rem; height: 5rem;" class="card-img-top mx-auto d-block" src="${elem.product.thumbnail}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">${elem.product.title}</h5>
            <p><b>ID:</b> ${elem.product._id}</p>
            <p><b>Categoria:</b> ${elem.product.categoria}</p>
            <p><b>Descripción:</b> ${elem.product.description}</p>
            <p><b>Precio:</b> ${elem.product.price}</p>
            <p><b>Cantidad:</b> ${elem.quantity}</p>
            <div class="text-center pb-2">
              <button class="btn btn-primary" onclick="deleteProductCart('${elem.product["_id"]}')">Eliminar del Carrito</button>
            </div>
          </div>
        </div>
      </div>`;
        })
        .join(" ");
      document.getElementById("carrito").innerHTML = html;
    }
  </script>
</html>
