<%- include('../partials/topLogin') %>


<div style="padding: 20px;" class="bg-danger text-center">
  <!-- <form action="/api/productos" method="post"> -->
    <h3>LOGIN ERROR</h3>

    <button onclick="location.href = '/loginPage'" class="btn btn-primary">VOLVER A LOGIN</button>
</div>

<%- include('../partials/bottom') %>