<%- include('../partials/topLogin') %>


<div style="padding: 20px;">
  <!-- <form action="/api/productos" method="post"> -->
  <form class="form" action="/login" method="post" role="form" autocomplete="off">
    <div class="form-group">
      <label for="useremail" class="font-italic">Usuario</label>
      <input type="text" class="form-control" name="useremail" id="useremail" placeholder="Usuario">
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <input type="hidden" name="isBrowser" value="true" />
    <button type="submit" class="btn btn-primary">INICIAR SESION</button>
  </form>
  <a href="/registerPage">
    <button class="btn btn-primary">Registrar Usuario</button>
  </a>
  <br>
</div>

<%- include('../partials/bottom') %>